* {
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: bold;
}


html {
	font-size: 62.5%;
	font-family: OpenSans, Arial, sans-serif;
}

.wrapper {
	min-width: 320px;
}

header {
	min-height: 100vh;
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #0a0e34;
    background-size: cover;
}


h1 {
	text-transform: uppercase;
	padding-top: 138px;
	padding-bottom: 90px;
}

.be {
	margin-left: 20px;
	display: block;
}

.play {
	margin-right: 20px;
	margin-left: 65px;
	display: block;
}

header h2 {
		margin-left: auto;
		margin-right: auto;
	}

.buttons {
    width: 86%;
    text-align: center;
    margin: auto;
}

.android, .apple {
    background: #5c42b0;
    color: white;
    border-radius: 40px;
    margin-top: 15px;
    padding: 5px;
    text-decoration: none;
    display: block;
}

.android svg, .apple svg {
	width: 24px;
	height: 24px;
}

.download-link {
	font-size: 8px;
	width: 97px;
    display: inline-block;
    text-transform: uppercase;
    text-align: left;
}

.brand {
	font-weight: bold;
	display: block;
}

.athlets {
	padding-top: 25px;
	padding-bottom: 246px;
	padding-left: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 50px;
	color: #c1c1c1;
}
.athlets:before {
    position: absolute;
    z-index: 1;
    content: "";
    background: url("../images/footballer.png") no-repeat center;
    width: 80%;
    height: 450px;
}

@media (max-width: 320px) {
	header {
		background: url("../images/header_320.jpg");
	}

	.top-logo {
	    width: 133px;
    	height: 36px;
    	fill: white;
    	color: white;
    	margin: auto;
    	padding-top: 33px;
    	display: block;
	}

	h1, h2 {
		font-size: 2.8rem;
	}

}